html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

html {
	height: 100%;
}

body {
	margin: 0; 
	padding: 0;
	background: #fff;
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 1.3;
	font-weight: normal;
	height: 100%;
	min-height: 100%;   
	position: relative;
	text-align: center;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: top;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* ----- */

#tank_wars {
	margin: 0 auto;
	width: 98%;
	height: 96%;
}

canvas {
	border: 1px solid #000;
	margin: 0 auto;
}

.chromeFrameInstallDefaultStyle {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	left: 0;
	top: 0;
}